Repository donaldrich80/cicdevs: changes, and which pre-commit hooks are due for each by the changed paths.
All: hadolint, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-yaml
        exclude: mkdocs.yml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: gitleaks
        name: gitleaks
        entry: zricethezav/gitleaks
        language: docker_image
      - id: hadolint
        name: Lint Dockerfiles
        description: Runs hadolint Docker image to lint Dockerfiles
        language: docker_image
        entry: hadolint/hadolint hadolint
        files: Dockerfile
      - id: markdownlint
        name: Lint markdown
        description: lintmarkdown
        language: docker_image
        entry: donaldrich/function:markdown markdownlint
        types: [markdown]
        exclude: .meta/snippets/layout.md
  - repo: https://github.com/prettier/prettier
    rev: master
    hooks:
      - id: prettier

lint
  .pre-commit-config.yaml
Due: none

.pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

repo template regenerate
  .pre-commit-config.yaml
Due: none

git hooks
  .pre-commit-config.yaml
Due: none

repo template regenerate
  README.md
Due: markdownlint

repo template regenerate
  docs/hashicorp/packer/arm/README.md
  docs/index.md
  hashicorp/packer/arm/tusk-docker.yml
  hashicorp/packer/arm/vars.yml
  misc/zsh/p10k.zsh
Due: markdownlint

pre-commit-hooks
  .pre-commit-config.yaml
Due: none

opensuse python
  base/python/opensuse/Dockerfile
  base/python/opensuse/vars.yml
Due: hadolint

repo template regenerate
  .meta/pipeline/base/python/opensuse/build.gitlab-ci.yml
  .meta/pipeline/base/python/opensuse/path.json
  .meta/pipeline/base/python/opensuse/pipeline.gitlab-ci.yml
  .meta/pipelines.gitlab-ci.yml
  base/python/opensuse/goss.yaml
  base/python/opensuse/tusk-docker.yml
  base/python/opensuse/tusk.yml
  docs/base/python/opensuse/README.md
Due: markdownlint

repo template regenerate
  .meta/pipeline/base/python/opensuse/path.json
  base/python/opensuse/Dockerfile
  base/python/opensuse/goss.yaml
  docs/base/python/opensuse/README.md
Due: hadolint, markdownlint

index.md
  docs/index.md
Due: markdownlint

docs
  base/opensuse/leap/Dockerfile
  base/opensuse/leap/goss.yaml
  base/opensuse/leap/tusk-docker.yml
  base/opensuse/leap/tusk.yml
  base/opensuse/leap/vars.yml
  base/opensuse/tumbleweed/Dockerfile
  base/opensuse/tumbleweed/goss.yaml
  base/opensuse/tumbleweed/tusk-docker.yml
  base/opensuse/tumbleweed/tusk.yml
  base/opensuse/tumbleweed/vars.yml
  base/python/opensuse/Dockerfile.save
Due: hadolint

repo template regenerate
  .meta/pipeline/base/opensuse/leap/build.gitlab-ci.yml
  .meta/pipeline/base/opensuse/leap/path.json
  .meta/pipeline/base/opensuse/leap/pipeline.gitlab-ci.yml
  .meta/pipeline/base/opensuse/tumbleweed/build.gitlab-ci.yml
  .meta/pipeline/base/opensuse/tumbleweed/path.json
  .meta/pipeline/base/opensuse/tumbleweed/pipeline.gitlab-ci.yml
  .meta/pipelines.gitlab-ci.yml
  base/opensuse/leap/tusk-docker.yml
  base/opensuse/leap/tusk.yml
  base/opensuse/tumbleweed/tusk-docker.yml
  base/opensuse/tumbleweed/tusk.yml
  docs/base/opensuse/leap/README.md
  docs/base/opensuse/tumbleweed/README.md
  docs/index.md
Due: markdownlint

opensuse base
  .meta/pipeline/base/opensuse/leap/build.gitlab-ci.yml
  .meta/pipeline/base/opensuse/leap/path.json
  .meta/pipeline/base/opensuse/leap/pipeline.gitlab-ci.yml
  .meta/pipeline/base/opensuse/tumbleweed/build.gitlab-ci.yml
  .meta/pipeline/base/opensuse/tumbleweed/path.json
  .meta/pipeline/base/opensuse/tumbleweed/pipeline.gitlab-ci.yml
  .meta/pipelines.gitlab-ci.yml
  base/opensuse/leap/Dockerfile
  base/opensuse/leap/goss.yaml
  base/opensuse/leap/tusk-docker.yml
  base/opensuse/leap/tusk.yml
  base/opensuse/leap/vars.yml
  base/opensuse/tumbleweed/Dockerfile
  base/opensuse/tumbleweed/goss.yaml
  base/opensuse/tumbleweed/tusk-docker.yml
  base/opensuse/tumbleweed/tusk.yml
  base/opensuse/tumbleweed/vars.yml
  docs/base/opensuse/leap/README.md
  docs/base/opensuse/tumbleweed/README.md
  docs/index.md
Due: hadolint, markdownlint
